### Running Print Statement

In [ ]:
print("Yogender")

In [ ]:
print("this is example")

In [3]:
x=10

In [15]:
age = 30
employees = 320
print (type(age))

<class 'int'>

In [7]:
price = 99.99
tax_rate = 0.18
print (type(price))

<class 'float'>

In [8]:
name = "Yogender Kumar"
city = 'Mahendergarh'
print(type(name))

<class 'str'>

In [10]:
full_text = "Hello " + name
print(full_text)

Hello Yogender Kumar

In [14]:
age = 30
print(f"My name is {name} and I am {age} years old.")

My name is Yogender Kumar and I am 30 years old.

In [16]:
is_active = True
is_admin = False
print(type(is_active))

<class 'bool'>

In [17]:
if is_active: 
    print("User is active")
else:
    print("User is inactive")

User is active

In [18]:
x, y, z = 10, 20, 30
a = b = c = 0

In [19]:
x = "100"
y = int(x)
z = float(y)
t = str(z)

In [ ]:
name = "Yogender Kumar"
age = 30
salary = 11.8
is_full_time = True

print(f"My name is {name} and I am {age} years old.")

My name is Yogender Kumar and I am 30 years old.

In [21]:
a =5
b =5
c = 7
print(a == b)
print(a == c)

True
False

In [24]:
age = 28
price = 499.99
name = "Ravi"
a = 5
b = 7
c = 123 
C = int(c)
is_married = False
hight = 5.75
age = str(age)
x = y = z = 100
city, country, pincode = "Mahendergarh", "India", 123039

print (type(age))
print(price)
print(f"My name is {name} and my age is {age} and I am married is {is_married}. My hight is {hight}. I live in {city} District, {country} and my pincode is {pincode}")

<class 'str'>
499.99
My name is Ravi and my age is 28 and I am married is False. My hight is 5.75. I live in Mahendergarh District, India and my pincode is 123039

In [ ]:
x = "10" #we need to remove double inberted commas if we have to resolve this issue
y = 5

print(x+y)

TypeError: can only concatenate str (not "int") to str

In [28]:
float_number = 10.5
float_number = int(float_number)

print (float_number)

10

In [ ]:
boolean_value = True
integer_value = int(boolean_value)

print(integer_value)

1

In [30]:
#when 0 is converted into boolean it will print false because 1 represents true and 0 represents false

In [31]:
a = 10
b = 10.0

print(a==b)
print(type(a)==type(b))

True
False

In [ ]:
sentence = "python is fun"

#character_count = len(sentence)

#print(character_count)

print(len(sentence))

13

In [36]:
x, y = 5, 2

print(x/y)

2.5

In [37]:
apple_price = 25.5
number_of_apples = 4

print(f"The Price of one apple is {apple_price} and the total for {number_of_apples} apples is {number_of_apples * apple_price}")

The Price of one apple is 25.5 and the total for 4 apples is 102.0

In [38]:
x = 10
x = "ten"

print (x)

ten

In [39]:
a = "5"
b = "6"

print(a + b)
print (int(a) + int(b))

56
11