### Running Print Statement

In [40]:
print("Yogender")

Yogender

In [41]:
print("this is example")

this is example

In [42]:
x=10

In [43]:
age = 30
employees = 320
print (type(age))

<class 'int'>

In [44]:
price = 99.99
tax_rate = 0.18
print (type(price))

<class 'float'>

In [45]:
name = "Yogender Kumar"
city = 'Mahendergarh'
print(type(name))

<class 'str'>

In [46]:
full_text = "Hello " + name
print(full_text)

Hello Yogender Kumar

In [47]:
age = 30
print(f"My name is {name} and I am {age} years old.")

My name is Yogender Kumar and I am 30 years old.

In [48]:
is_active = True
is_admin = False
print(type(is_active))

<class 'bool'>

In [49]:
if is_active: 
    print("User is active")
else:
    print("User is inactive")

User is active

In [50]:
x, y, z = 10, 20, 30
a = b = c = 0

In [51]:
x = "100"
y = int(x)
z = float(y)
t = str(z)

In [52]:
name = "Yogender Kumar"
age = 30
salary = 11.8
is_full_time = True

print(f"My name is {name} and I am {age} years old.")

My name is Yogender Kumar and I am 30 years old.

In [53]:
a =5
b =5
c = 7
print(a == b)
print(a == c)

True
False

In [54]:
age = 28
price = 499.99
name = "Ravi"
a = 5
b = 7
c = 123 
C = int(c)
is_married = False
hight = 5.75
age = str(age)
x = y = z = 100
city, country, pincode = "Mahendergarh", "India", 123039

print (type(age))
print(price)
print(f"My name is {name} and my age is {age} and I am married is {is_married}. My hight is {hight}. I live in {city} District, {country} and my pincode is {pincode}")

<class 'str'>
499.99
My name is Ravi and my age is 28 and I am married is False. My hight is 5.75. I live in Mahendergarh District, India and my pincode is 123039

In [55]:
x = "10" #we need to remove double inberted commas if we have to resolve this issue
y = 5

print(x+y)

TypeError: can only concatenate str (not "int") to str

In [ ]:
float_number = 10.5
float_number = int(float_number)

print (float_number)

10

In [ ]:
boolean_value = True
integer_value = int(boolean_value)

print(integer_value)

1

In [ ]:
#when 0 is converted into boolean it will print false because 1 represents true and 0 represents false

In [ ]:
a = 10
b = 10.0

print(a==b)
print(type(a)==type(b))

True
False

In [ ]:
sentence = "python is fun"

#character_count = len(sentence)

#print(character_count)

print(len(sentence))

13

In [ ]:
x, y = 5, 2

print(x/y)

2.5

In [ ]:
apple_price = 25.5
number_of_apples = 4

print(f"The Price of one apple is {apple_price} and the total for {number_of_apples} apples is {number_of_apples * apple_price}")

The Price of one apple is 25.5 and the total for 4 apples is 102.0

In [ ]:
x = 10
x = "ten"

print (x)

ten

In [ ]:
a = "5"
b = "6"

print(a + b)
print (int(a) + int(b))

56
11

Day 1: Python Basics for Data Work

Tuples, Sets, Dictionaries

In [57]:
fruits = ["apple", "banana", "mango"]

print(fruits [0])

print(fruits[-1])

apple
mango

In [76]:
fruits = ["apple", "banana", "mango"]

fruits[1] = "grapes"

fruits.append("orange")
fruits.insert(1,"kiwi")

fruits.remove("apple")
popped = fruits.pop()

for fruit in fruits:
    print(fruit)  

print(len(fruits))

kiwi
grapes
mango
3

In [87]:
letters = ["a", "b", "C"]
matrix = [[0, 1], [2,3]]
zeros = [0] * 5
combined = zeros + letters
numbers = list(range(21))
chars = list("Hello World")
print(len(chars))

11

In [96]:
letters = ["a", "b", "C", "d"]
letters[0] = "A"
print(letters[0:3])
print(letters[::2])

['A', 'b', 'C']
['A', 'C']

In [103]:
numbers = list(range(20))
print(numbers[::-1])

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [111]:
numbers = [1, 2, 3, 4, 5, 6]
first, second, *other, last = numbers

print(first,last)
print(other)

1 6
[3, 4, 5]

In [116]:
coordinates = (28.6139, 772090)
print(coordinates[0])
print(c)
print(len(coordinates))

28.6139
123
2

Sets → Unordered, No Duplicates

In [123]:
cities ={"Delhi", "Mumbai", "Pune", "Delhi"}

#add / remove

cities.add("chennai")
cities.remove("Pune")

#Union, Intersection, Difference

north = {"Delhi", "chandigarh"}
south = {"Chennai", "Hydrabad"}

print(north.union(south))
print(north.intersection(cities))
print(north.difference(cities))
print(cities)

{'Hydrabad', 'Chennai', 'chandigarh', 'Delhi'}
{'Delhi'}
{'chandigarh'}
{'chennai', 'Mumbai', 'Delhi'}

In [130]:
person = {
    "name": "Yogender Kumar",
    "role" : "Data Engineer",
    "experience" : 5
}

print(person["name"])
print(person.get("role"))

person["skills"] = ["Python", "ETL", "Databricks"]
person["experience"] = 6

person.pop("role")
           
for key, value in person.items():
    print(key, ":", value)

if "skills" in person:
    print("Skills are defined")

    print(len(person))

Yogender Kumar
Data Engineer
name : Yogender Kumar
experience : 6
skills : ['Python', 'ETL', 'Databricks']
Skills are defined
3

In [135]:
employees = [
    {"name": "Riya", "age": 25, "city": "Pune"},
    {"name": "Amit", "age":30, "city": "Delhi"},
]
for emp in employees:
    print(emp["name"], emp["city"])

Riya Pune
Amit Delhi

Practice Tasks

In [137]:
numbers = [1, 2, 3, 4, 5]

numbers.append(6)
numbers.append(7)

numbers.remove(3)

print(f"List after removing 3: {numbers}")

List after removing 3: [1, 2, 4, 5, 6, 7]

In [141]:
coordinates = [12.9, 77.5, 45.3]
coordinates[0] = 15.5
print(f"All Coordinates: {coordinates}")

All Coordinates: [15.5, 77.5, 45.3]

In [147]:
data_ids = {101, 102, 103, 102, 104}
other_ids = {105, 106, 107}

print(f"1. Unique IDs(the set itself): {data_ids}")

data_ids.add(105)

print(f"2. IDs after adding 105: {data_ids}")

intersection_result = data_ids.intersection(other_ids)
print(f"3. Intersection with {{103, 106, 107}}: {intersection_result}")

1. Unique IDs(the set itself): {104, 101, 102, 103}
2. IDs after adding 105: {101, 102, 103, 104, 105}
3. Intersection with {103, 106, 107}: {105}

In [154]:
students = [
    {"name": "Riya", "marks":90},
    {"name": "Amit", "marks":75},
    {"name": "Neha", "marks":85}
]

print("Students who scored above 80:")

for student in students:
    if student["marks"] > 80:
        print(student["name"])

Students who scored above 80:
Riya
Neha

In [157]:
name = "Riya"
score = 95

# left aligned, right aligned, centered
print(f"|{name:<10}|{score:>5}|")  # |Riya      |   95|
print(f"|{name:^10}|{score:^5}|")  # |   Riya   |  95 |

|Riya      |   95|
|   Riya   | 95  |

In [159]:
age = 25

if age < 18:
    print("Minor")
elif age <= age < 65:
    print("Adult")
else:
    print("Senior Citizen")

Adult

In [160]:
salary = 75000
eperience = 5

if salary > 50000 and eperience >= 5:
    print("Eligible for promotion")

Eligible for promotion

In [162]:
age = 30
if age < 18:
    print("Reject record: Underage")

In [164]:
with open("data.txt", "w") as f:
    f.write("Hello, World!")
    f.write("Learning file handling in Python /n")

In [168]:
import csv

raws = [
    ["Name", "age", "city"],
    ["Yogender", 28, "Mahendergarh"],
    ["Riya", 25, "Pune"]
]
with open("output.csv", "r") as file:
    reader = csv.reader(file)
for row in reader:
    print(row)

FileNotFoundError: [Errno 2] No such file or directory: 'output.csv'